layer-rule {
    match namespace="waybar"
    background-effect {
        blur true
        xray true
    }
}
window-rule {
    match app-id="^firefox$"
    match app-id="^spotify$"
    match app-id="^discord$"
    match app-id="^org.gnome.Nautilus$"
    match app-id="^org.prismlauncher.PrismLauncher$"
    open-maximized true
}
window-rule {
    match app-id="^Alacritty$"
    background-effect {
        blur true
    }
}
